<template data-controller-name="training.courses.management.view.ExternalCourses">
	<div data-sap-ui-type="sap.ui.commons.Panel" data-show-collapse-icon="false">
		<div data-sap-ui-aggregation="content">
			<div data-sap-ui-type="sap.ui.layout.VerticalLayout">
				<div data-sap-ui-type="sap.ui.layout.HorizontalLayout" id="searchLayout" data-visible="false">
					<div data-sap-ui-type="sap.ui.commons.Label" data-text="{i18n>searchFieldLbl}" data-tooltip="{i18n>searchFieldLblTooltip}" class="searchLabelStyle"></div>
					<div data-sap-ui-type="sap.ui.commons.SearchField" id="searchField" data-width="25em" data-search="onSearch" data-enable-list-suggest="false" data-tooltip="{i18n>searchFieldTooltip}">
					</div>
				</div>
				<div data-sap-ui-type="sap.ui.layout.HorizontalLayout" id="courseProviderLayout" data-visible="true">
					<div data-sap-ui-type="sap.ui.commons.Label" data-text="{i18n>selectCourseProviderNameLbl}" data-tooltip="{i18n>selectCourseProviderNameTooltip}"></div>
					<div data-sap-ui-type="sap.ui.commons.ComboBox" id="courseProviderNameCombo" data-width="25em" data-tooltip="{i18n>courseProviderNameComboTooltip}" data-enabled="true"
						data-items="{courseProviders>/}" data-change="onCourseProviderSelect">
						<div data-sap-ui-aggregation="items">
								<div data-sap-ui-type="sap.ui.core.ListItem" data-key="{courseProviders>name}" data-text="{courseProviders>name}"></div>
						</div>
					</div>
					<div data-sap-ui-type="sap.ui.commons.Label" data-text="{i18n>urlLabel}" data-tooltip="{i18n>urlLabel}"></div>
					<div data-sap-ui-type="sap.ui.commons.TextField" id="providerUrlTextField" data-width="22em" data-enabled="false" data-editable="false"></div>
					<div data-sap-ui-type="sap.ui.commons.Button" data-text="Open" data-press="onOpenProvider" class="courseButton" data-enabled="false" id="providerOpenBtn" data-icon="sap-icon://show"></div>
				</div>
				<div data-sap-ui-type="sap.ui.table.Table" id="coursesTable" data-selection-mode="Single" data-rows="{courses>/}" data-editable="false"
					data-row-selection-change="onRowChange" data-visible-row-count="20" data-title="Courses {path:'courses>/', formatter:'training.courses.management.util.Helper.formatCount'}">
					<div data-sap-ui-aggregation="columns">
						<div data-sap-ui-type="sap.ui.table.Column" data-sort-property="title" data-filter-property="title">
							<div data-sap-ui-aggregation="label">
								<div data-sap-ui-type="sap.ui.commons.Label" data-text="Title"></div>
							</div>
							<div data-sap-ui-aggregation="template">
								<div data-sap-ui-type="sap.ui.commons.TextField" data-value="{courses>title}" data-editable="false"  data-tooltip="{courses>title}"></div>
							</div>
						</div>
						<div data-sap-ui-type="sap.ui.table.Column" data-sort-property="description" data-filter-property="description">
							<div data-sap-ui-aggregation="label">
								<div data-sap-ui-type="sap.ui.commons.Label" data-text="Description"></div>
							</div>
							<div data-sap-ui-aggregation="template">
								<div data-sap-ui-type="sap.ui.commons.TextField" data-value="{courses>description}" data-editable="false" data-tooltip="{courses>description}"></div>
							</div>
						</div>
						<div data-sap-ui-type="sap.ui.table.Column" data-sort-property="url" data-filter-property="url">
							<div data-sap-ui-aggregation="label">
								<div data-sap-ui-type="sap.ui.commons.Label" data-text="URL"></div>
							</div>
							<div data-sap-ui-aggregation="template">
								<div data-sap-ui-type="sap.ui.commons.TextField" data-value="{courses>url}" data-editable="false" data-tooltip="{courses>url}"></div>
							</div>
						</div>
					</div>
				</div>
				<div data-sap-ui-type="sap.ui.layout.HorizontalLayout" class="buttonContainer">
					<div data-sap-ui-type="sap.ui.commons.Button" data-text="Open" data-press="onShowCourse" class="courseButton" data-enabled="false" id="courseOpen" data-icon="sap-icon://show"></div>
				</div>
			</div>
		</div>
	</div>
</template>
